body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: blue;
}

.BtnBtn{
    display: inline-block;
    background-color: #fff;
    color: #212121;
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 100px;
    font-size: 14px;
    margin: 15px;
    letter-spacing: 2px;
    transition: all 0.5s;
}

.BtnBtn:hover{
    background-color: #212121;
    color: #F5F500;
}
